

:root {
  font-family: "Open Sans",sans-serif;
}

body{
  background-color: #F5F4F0;
  margin: 88px 80px 80px 137px
 }

#page{
  box-sizing: border-box;
  background-color: #F5F4F0;
  width: 1120px;
  height: 3054;
  margin: 0 auto;
}

.principal_title{
  margin-top: 0px;
}
.texto1 {
  margin-top: 24px;
  text-align: center;
}
#post_Dois{
  margin-top: 64px;
}
.titulo_dois{
  margin-top: 3px;
}
.segundoParagrafo{
  margin-bottom: 64px;
}

.historia{
  color: #0C51A7;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 48px;
}
.bomPara{
  font-weight: bold;
}

img{
  border-radius: 28px;
}

.title_Post {
  color: #E1624F;
  font-size:  16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}
h1{
  font-size: 36px auto;
  font-weight: bold;
  margin-bottom: 40px;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

.li_final{
  margin-left: -20px;
}
hr{
  margin-top: 40px;
  color: #ffffff;
}
.ultimo_Paragrafo{
  margin-top: 80px;
  text-align: center;
}
footer{
  text-align: center;
  margin-top: 65px;
  margin-bottom: 48px;
}

